* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {   /* Для центровки калькулятора */
    height: 100%; 
    position: relative;}  

.calc__input, .calc__result, .culc__button {
    font-weight: bold;
    border-style: solid;
    border-color: #c0c0c0 #7491a5 #7491a5 #c0c0c0;
    border-width: 2px;
    background: linear-gradient(to bottom, #fff 0, #e6e6e6 100%);
    text-shadow: 1px 1px 0 #fff;
    color: #414f5b;
    border-radius: 8px;
    position: relative ;
}  

.calc{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom, #f2f2f2 4%, #ebebeb 15%, #e6e6e6 77%, #e0e0e0 100%);
    padding: 1.4vh;
    border-style: solid;
    border-color: #c0c0c0 #7491a5 #7491a5 #c0c0c0;
    border-width: 1px;
    border-radius: 16px;
    position: absolute;  /* Для центровки калькулятора */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
    height: 95vh;
    width: 60vh;
    max-width: 95vw;
    max-height: 152vw;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas:
    "A A A A A"
    "A A A A A"
    "B B B B B"
    "C C D E F"
    "G H I J K"
    "L M N O P"
    "Q R S T U"
    "V W X T U";

    column-gap:  1vh;
    row-gap:  1vh;
}

.calc__input {grid-area: A;
    overflow-y: scroll;
}
.calc__input::-webkit-scrollbar {
    width: 0;
}
.calc__result {grid-area: B;
    overflow-x: scroll;
}
.calc__result::-webkit-scrollbar {
    width: 0;
}
.culc__button_delete {grid-area: C;}
.culc__button_clear {grid-area: D;}
.culc__button_open {grid-area: E;}
.culc__button_close {grid-area: F;}
.culc__button_7 {grid-area: G;}
.culc__button_8 {grid-area: H;}
.culc__button_9 {grid-area: I;}
.culc__button_multi {grid-area: J;}
.culc__button_division {grid-area: K;}
.culc__button_4 {grid-area: L;}
.culc__button_5 {grid-area: M;}
.culc__button_6 {grid-area: N;}
.culc__button_- {grid-area: O;}
.culc__button_exp {grid-area: P;}
.culc__button_1 {grid-area: Q;}
.culc__button_2 {grid-area: R;}
.culc__button_3 {grid-area: S;}
.culc__button_plus {grid-area: T;}
.culc-button_result {grid-area: U;}
.culc__button_persent {grid-area: V;}
.culc__button_0 {grid-area: W;}
.culc__button_point {grid-area: X;}



.culc__button {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.culc__button:active {
    transform: translateY(1px);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.culc__button p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4.5vh;
}

.calc__input , .calc__result {
    text-align: right;
}

.calc__input div, .calc__result div{
    font-size: 4.5vh;
    text-align: right;
    max-width: 100%;
    display: inline-block;
}

.calc__input div {
    width: calc(100% - 10px);
    word-break: break-all;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(calc(-100% - 10px), -50% );
}

.calc__result div {
    width: calc(100% );
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(calc(-100% - 10px), calc(-50% + 10px) );
}